<div class="col-md-6 offse-md-3">
  <h3 class="title">Create Employee</h3>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label> First Name </label>
      <input
        type="text"
        class="form-control"
        id="firstName"
        required
        [(ngModel)]="employee.firstName"
        name="firstName"
      />
    </div>
    <div class="form-group">
      <label> Last Name </label>
      <input
        type="text"
        class="form-control"
        id="lastName"
        required
        [(ngModel)]="employee.lastName"
        name="lastName"
      />
    </div>
    <div class="form-group">
      <label> Email Id </label>
      <input
        type="text"
        class="form-control"
        id="emailId"
        required
        [(ngModel)]="employee.emailId"
        name="emailId"
      />
    </div>
    <button class="btn btn-success" type="submit">Submit</button>
  </form>
</div>
